body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #004e92, #000428);
    color: white;
    background-image: url("tr.jpg");
}

header {
    background: #002f6c;
    padding: 15px;
    text-align: center;
}

nav {
    background: #003f88;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00c3ff;
}

section {
    padding: 40px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #00c3ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0099cc;
}

input {
    padding: 10px;
    margin: 10px;
    width: 220px;
    border-radius: 5px;
    border: none;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    color: black;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background: #002f6c;
    color: white;
}

.delete-btn {
    background: red;
    color: white;
}


.rapport-container {
    background: white;
    color: black;
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.resume-box {
    margin-top: 20px;
    font-size: 18px;
    text-align: right;
}

.btn-print {
    padding: 10px 25px;
    background: #002f6c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

